<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>.m2/repository</localRepository>
	<interactiveMode>true</interactiveMode>
	<offline>false</offline>
	<pluginGroups />
	<proxies />
	<servers>
		<server>
			<id>releases</id>
			<username>felix</username>
			<password>felix</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>felix</username>
			<password>felix</password>
		</server>
		<server>
			<id>thirdparty</id>
			<username>felix</username>
			<password>felix</password>
		</server>
	</servers>
	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://192.168.0.200:8080/nexus/content/groups/public/</url>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>jdk-1.6</id>
			<activation>
				<jdk>1.6</jdk>
			</activation>
			<properties>
				<maven.compiler.source>1.6</maven.compiler.source>
				<maven.compiler.target>1.6</maven.compiler.target>
				<maven.compiler.compilerVersion>1.6</maven.compiler.compilerVersion>
			</properties>
		</profile>
	</profiles>
</settings>
